---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Jose's Portfolio - Computer Science Student" description="TODO">
  <main class="px-6">
    <SectionContainer class="py-16 md:py-36">
      <img
        class="rounded-full shadow-lg size-16 mb-4"
        src="jose.webp"
        alt="Jose"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I am Jose <a
          href="https://www.linkedin.com/in/jose-fuentes1018/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Available</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="text-lime-300">
          Computer Science student at the University of Texas Rio Grande Valley.
        </span>
        <span> From Tamaulipas, Mexico.</span>
        <span> Living in Edinburg, Texas.</span>
        <span class="opacity-75">
          I am passionate about learning new technologies and building cool
          stuff.
        </span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/jose-fuentes1018/">
          <LinkedInIcon class="size-4 lg:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://www.github.com/jozefntes">
          <GitHubIcon class="size-4 lg:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:fuentesjosee03@gmail.com">
          <MailIcon class="size-4 lg:size-6" />
          fuentesjosee03@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experience">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
          <BriefcaseIcon class="size-7" />
          Experience
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
          <CodeIcon class="size-7" />
          Projects
        </h2>
        <Projects />
      </SectionContainer>

      <!-- <SectionContainer id="about-me">

      </SectionContainer> -->
    </div>
  </main>
</Layout>
