<span
  class="text-xs md:text-sm font-medium me-2 px-3 py-1 rounded-2xl bg-lime-600/20 text-gray-100 outline outline-1 outline-lime-300 hover:scale-110 transition duration-300 ease-in-out"
>
  <slot />
</span>
