<span
    class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300 outline outline-1 outline-blue-300 hover:scale-110 transition duration-300 ease-in-out"
    >
    <slot />
</span>
