<footer
  class="opacity-80 m-4 mt-16 mb-10 w-full mx-auto container lg:max-w-4xl md:max-w-2xl flex justify-between"
>
  <div
    class="rounded-lg w-full mx-auto max-w-screen-xl py-4 md:flex md:items-center md:justify-between"
  >
    <span
      class="flex flex-wrap justify-center text-sm sm:text-center text-white/90">
      <a href="#" class="hover:underline hover:text-lime-300">Jose Fuentes</a>
    </span>
    <ul
      class="flex flex-wrap justify-center items-center mt-3 text-sm font-medium text-white/90 md:mt-0"
    >
      <li>
        <a href="#" class="hover:underline hover:text-lime-300 me-4 md:me-6"
          >About Me</a
        >
      </li>
      <li>
        <a href="#" class="hover:underline hover:text-lime-300 me-4 md:me-6"
          >Contact</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jozefntes/jozefntes.github.io"
          class="hover:underline hover:text-lime-300"
          target="_blank"
          rel="noopener noreferrer">GitHub Repo</a
        >
      </li>
    </ul>
  </div>
</footer>
