<footer
  class="opcity-80 m-4 mt-16 mb-10 w-full mx-auto container lg:max-w-4xl md:max-w-2xl flex justify-between"
>
  <div
    class="rounded-lg w-full mx-auto max-w-screen-xl py-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-white/90"
      >© 2024 <a href="#" class="hover:underline">Jose Fuentes</a>. All Rights
      Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">About Me</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Contact</a>
      </li>
      <li>
        <a
          href="https://github.com/jozefntes/jozefntes.github.io"
          class="hover:underline"
          target="_blank"
          rel="noopener noreferrer">GitHub Repo</a
        >
      </li>
    </ul>
  </div>
</footer>
