<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full size-12" src="jose.webp" alt="Jose" />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a class="text-sm md:text-base" href="#top">Home</a>
        <a class="text-sm md:text-base" href="#experience">Experience</a>
        <a class="text-sm md:text-base" href="#about-me">About Me</a>
        <a class="text-sm md:text-base" href="#projects">Projects</a>
        <a class="text-sm md:text-base" href="#contact">Contact</a>
    </nav>
</header>