<header class="flex justify-center">
    <img src="jose.jpg" alt="Jose photo" />

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>